.task-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    justify-content: space-between;
    padding-bottom: 10px;
    width: 100%;
}

.task-form {
    display: flex;
    overflow-x: hidden;
    width: 100%;
}

.save-btn-edit {
    outline: none;
    border: none;
    background-color: transparent;
    color: rgb(118, 172, 210);
    padding: 9px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    cursor: pointer;
}

.save-btn-edit:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}