input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.input-box {
    width: 100%;
    padding: 9px;
    border: 1px solid rgb(231, 241, 248);
    border-radius: 4px;
    outline: none;
    font-size: 16px;
}

.input-box:focus {
    border: 1px solid rgb(177, 204, 223);
}